<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620028397667-nftm8l4cjnrgkcpju660rmf8c86lkifr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620028397667-nftm8l4cjnrgkcpju660rmf8c86lkifr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>620028397667-8blr8b0t2hivbnqtpvafb5norr0gjcar.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASB9tJ7KogVJfH0A9ObiAcdyt-KFB5vyc</string>
	<key>GCM_SENDER_ID</key>
	<string>620028397667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somisaehyun.shalomdomitory</string>
	<key>PROJECT_ID</key>
	<string>tomator-1e3fc</string>
	<key>STORAGE_BUCKET</key>
	<string>tomator-1e3fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620028397667:ios:e5f4fb6675d1dff0245056</string>
</dict>
</plist>